<!DOCTYPE html>
<html>
  <head>
    <title>StockTracker</title>

    <!-- prettier-ignore -->
    <%= csrf_meta_tags %> 
    <%= csp_meta_tag %> 
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %> 
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- prettier-ignore -->
    <%= render 'layouts/messages' %>
    <%= render 'layouts/navigation' %>

    <div class="container">
      <div class="row">
        <div class="col-3"></div>
        <div class="col">
          <div class="devise">
            <!-- prettier-ignore -->
            <%= yield %>
          </div>
        </div>
        <div class="col-3"></div>
      </div>
    </div>
  </body>
</html>
